.section-movie-details {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  max-width: 85vw;

  @media only screen and (max-width: $bp-1000) {
    max-width: 96vw;
  }

  @media only screen and (max-width: $bp-800) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.section-trailer {
  align-self: flex-start;
}

.trailer-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 150rem;
  overflow: auto;

  &::-webkit-scrollbar {
    transform: translateY(1rem);
    height: 0.8rem;

    @media only screen and (max-width: $bp-1000) {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);

    @media only screen and (max-width: $bp-1000) {
      display: none;
    }
  }
}
