.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  @media only screen and (max-width: $bp-600) {
    display: block;
  }
}

.main {
  position: relative;
  flex: 1;
}

// HERO SECTION
.section-hero {
  background-image: linear-gradient($banner-overlay), var(--clr-gray-dark-1);
  background-size: cover;
  background-position: top;
  border-radius: 2rem;
  padding: 9rem 2rem;
  position: relative;
  height: 51vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  @media only screen and (max-width: $bp-1000) {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: $bp-600) {
    height: 80rem;
  }
}

.banner-slider {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  overflow: hidden;

  @media only screen and (max-width: $bp-1000) {
    bottom: -2rem;
  }

  @media only screen and (max-width: $bp-600) {
    bottom: 0;
    left: 0;
    max-width: 62%;
    margin: 0 auto;
  }

  @media only screen and (max-width: $bp-400) {
    width: 90%;
  }
}

.banner-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  max-width: 45rem;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

// RECOMMENDED SECTION
.section-recommend {
  max-width: 85vw;

  @media only screen and (max-width: $bp-1000) {
    max-width: 96vw;
  }
}

.slider-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  max-width: 158rem;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
