.movie {
  &__poster {
    position: sticky;
    top: 4rem;

    @media only screen and (max-width: $bp-800) {
      position: relative;
      top: 0;
    }
  }

  &__img {
    width: 30rem;
    border-radius: 2rem;

    @media only screen and (max-width: $bp-800) {
      width: 30rem;
    }

    @media only screen and (max-width: $bp-600) {
      width: 25rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    overflow: hidden;

    @media only screen and (max-width: $bp-800) {
      max-width: 95%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 85rem;

    @media only screen and (max-width: $bp-800) {
      & > :nth-child(-n + 3) {
        align-self: center;
        text-align: center;
      }
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2.5rem;
  }

  &__rating {
    display: flex;
    gap: 0.5rem;
  }

  &__rating-star {
    width: 2rem;
    height: 2rem;
    transform: translateY(-1px);
  }

  &__cast {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }
}

.trailer {
  &__card {
    aspect-ratio: 16/9;
    width: calc(100% - 4rem);
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--clr-gray-dark-1);

    @media only screen and (max-width: $bp-500) {
      max-width: 42rem;
    }
  }

  &__background {
    width: 4rem;
  }
}
